In [1]:
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv("adult.csv")
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [3]:
#1. Shape of dataset
df.shape

(48842, 15)

In [4]:
#2. Print column names
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [5]:
#3. How many men and women (sex feature) are represented in this dataset?
count=df['gender'].value_counts()
print("Number of mens::",count['Male'])
print("Number of womens::",count['Female'])

Number of mens:: 32650
Number of womens:: 16192

In [6]:
#4. What is the average age (age feature) of women?
avg_age=df[df['gender']=='Female']['age'].mean()
print("avg age of women::",round(avg_age))

avg age of women:: 37

In [7]:
df['native-country'].unique()

array(['United-States', '?', 'Peru', 'Guatemala', 'Mexico',
       'Dominican-Republic', 'Ireland', 'Germany', 'Philippines',
       'Thailand', 'Haiti', 'El-Salvador', 'Puerto-Rico', 'Vietnam',
       'South', 'Columbia', 'Japan', 'India', 'Cambodia', 'Poland',
       'Laos', 'England', 'Cuba', 'Taiwan', 'Italy', 'Canada', 'Portugal',
       'China', 'Nicaragua', 'Honduras', 'Iran', 'Scotland', 'Jamaica',
       'Ecuador', 'Yugoslavia', 'Hungary', 'Hong', 'Greece',
       'Trinadad&Tobago', 'Outlying-US(Guam-USVI-etc)', 'France',
       'Holand-Netherlands'], dtype=object)

In [8]:
#5. What is the percentage of German citizens (native-country feature)?
germany=df[df['native-country']=='Germany']
german_cnt=germany['native-country'].count()
percentage=(german_cnt/len(df))*100
print("percentage count of german citizens::",round(percentage,3))

percentage count of german citizens:: 0.422

In [13]:
# 6. What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature)
# and those who eam less than 50K per year.
more_than_50k=df[df['income']==">50K"]['age']
less_than_50k=df[df['income']=="<=50K"]['age']
mean_1=more_than_50k.mean()
std_1=more_than_50k.std()

mean_2=less_than_50k.mean()
std_2=less_than_50k.std()
print('mean for salary more than 50K',round(mean_1,3))
print('std for salary more than 50K',round(std_1,3))

print("mean for salary less than 50k",round(mean_2,3))
print("std for salary less than 50k",round(std_2,3))

mean for salary more than 50K 44.275
std for salary more than 50K 10.559
mean for salary less than 50k 36.872
std for salary less than 50k 14.104

In [20]:
df['education'].unique()

array(['11th', 'HS-grad', 'Assoc-acdm', 'Some-college', '10th',
       'Prof-school', '7th-8th', 'Bachelors', 'Masters', 'Doctorate',
       '5th-6th', 'Assoc-voc', '9th', '12th', '1st-4th', 'Preschool'],
      dtype=object)

In [39]:
# 7. that people who earn more than 50K have at least high school education?
# (edicaton-Bachelors, Prof-school Love-an, Anse-soc, Masters or Doctorate feature)
edu=["Bachelors", "Prof-school", "Some-college", "Masters", "Doctorate", "Assoc-acdm", "Assoc-voc"]
higher_edu=edu = df[df['income'] == '>50K']['education'].isin(edu).mean()
print("percentage of people who has income mre than 50k::",round(higher_edu*100,2),"%") 
print("in the data around 75.45% people who earn more than 50K has at least completed there higher education ")

percentage of people who has income mre than 50k:: 75.45 %
in the data around 75.45% people who earn more than 50K has at least completed there higher education

In [27]:
edu = df[df['income'] == '>50K']['education']

2       Assoc-acdm
3     Some-college
7      Prof-school
10         HS-grad
14         HS-grad
Name: education, dtype: object

In [44]:
# 8. Display age statistics for each race (race feature) and each gender (sex feature). Use groupby() and describe().
# Find the maximum age of men of Amer Inhan Eskimo race.
age_stats = df.groupby(["race", "gender"])["age"].describe()
print(age_stats)

max_age = df[(df["race"] == "Amer-Indian-Eskimo") & (df["gender"] == "Male")]["age"].max()
print("Maximum age of Amer-Indian-Eskimo men:", max_age)

                             count       mean        std   min   25%   50%  \
race               gender
Amer-Indian-Eskimo Female    185.0  36.237838  12.840056  17.0  26.0  35.0
                   Male      285.0  36.989474  11.703943  17.0  29.0  35.0
Asian-Pac-Islander Female    517.0  35.657640  12.637799  17.0  25.0  34.0
                   Male     1002.0  38.994012  12.824878  18.0  29.0  37.0
Black              Female   2308.0  37.905979  12.736001  17.0  28.0  36.0
                   Male     2377.0  37.922592  13.036981  17.0  28.0  36.0
Other              Female    155.0  31.212903  11.233061  17.0  23.0  29.0
                   Male      251.0  35.167331  11.808297  17.0  26.0  32.0
White              Female  13027.0  36.882935  14.454178  17.0  25.0  35.0
                   Male    28735.0  39.704507  13.475250  17.0  29.0  38.0

                            75%   max
race               gender
Amer-Indian-Eskimo Female  46.0  80.0
                   Male    44.0  82.0
Asian-Pac-Islander Female  44.0  81.0
                   Male    46.0  90.0
Black              Female  46.0  90.0
                   Male    46.0  90.0
Other              Female  37.0  74.0
                   Male    42.5  77.0
White              Female  47.0  90.0
                   Male    49.0  90.0
Maximum age of Amer-Indian-Eskimo men: 82

In [52]:
# 9. Amang whom is the proportion of these who earn a lot (>50K) greater married or single men (marital-status feature)? 
# Consider as married those who have a marital-status starting with Maried (Married civ-spouse, Married-spouse-absent or Maried-AF-spouse), the rest are considered bachelors.

df["marital-status"] = df["marital-status"].apply(lambda x: "Married" if x.startswith("Married") else "Single")

married_high_earners = df[(df["marital-status"] == "Married") & (df["gender"] == "Male")]["income"].eq(">50K").mean()
single_high_earners = df[(df["marital-status"] == "Single") & (df["gender"] == "Male")]["income"].eq(">50K").mean()
print("married_high_earners::",round(married_high_earners,3))
print("single_high_earners::",round(single_high_earners,3))

married_high_earners:: 0.441
single_high_earners:: 0.081

In [55]:
# 10. What is the maximun nanber of hours a person works per work (hars per-wool feature)? How many people work such a number of hours,
# and what is the percentage of those who carn a lot (>50K) among them
max_hours = df["hours-per-week"].max()
people_max = (df["hours-per-week"] == max_hours).sum()
high_earners= df[(df["hours-per-week"] == max_hours) & (df["income"] == ">50K")].shape[0]
percentage = (high_earners / people_max) * 100

print("Maximum hours per week worked:", max_hours)
print("Number of people working max hours:", people_max)
print("Percentage of more than 50K earners among them :", round(percentage, 2), "%")

Maximum hours per week worked: 99
Number of people working max hours: 137
Percentage of more than 50K earners among them : 29.93 %