In [20]:
my_list=[1,2,3,4,5,6]

my_list[3]="banana"
print(my_list)
a=my_list[3:4]
print(a)
add=my_list.append("pineapple")
print(my_list)

[1, 2, 3, 'banana', 5, 6]
['banana']
[1, 2, 3, 'banana', 5, 6, 'pineapple']

In [ ]:
Q1 you have a list responses containing responses from a survey however some responses are recorded as empty string  due to data entry errors 
task is to remove the empty spaces from the list 

responses=['y','','n','','','n','y','','','y','y']

In [35]:
responses=['y','','n','','','n','y','','','y','y']
clean=[]
for r in responses:
    if r!='':
        clean.append(r)
print(clean)

['y', 'n', 'n', 'y', 'y', 'y']

In [25]:
num=[1,2,3,4]
num.append([5,6])
print(num)

[1, 2, 3, 4, [5, 6]]

In [29]:
w=["spiderman","batman"]
s=" captan america ".join(w)
print(s)

spiderman captan america batman

In [32]:
my_list=[1,2,3,4,5,6]
my_list.append(60)
my_list.insert(0,"lemon")
my_list.insert(1,'orange')
my_list.remove(3)
print(my_list)

['lemon', 'orange', 1, 2, 4, 5, 6, 60]

In [43]:


no_people=int(input("Enter the number of the people:: "))
ages=[]
for i in range(no_people):
    age=int(input("Enter the age of the person {} ::".format(i+1)))
    ages.append(age)

count_child=0
count_adult=0
count_senior=0

for i in ages:
    if i<18:
        count_child +=1
    elif i>=18 and i<60:
        count_adult=1
    elif i>=60 and i<125:
        count_senior+=1
    else:
        print("age is greater than 125 \"kya karenga itna jee ke \" ")
print(ages)
print("Total number of the Child ::",count_child)
print("Total number of the Adult ::",count_adult)
print("Total number of the Senior ::",count_senior)

Enter the number of the people:: 6
Enter the age of the person 1 ::16
Enter the age of the person 2 ::18
Enter the age of the person 3 ::24
Enter the age of the person 4 ::67
Enter the age of the person 5 ::101
Enter the age of the person 6 ::289
age is greater than 125 "kya karenga itna jee ke "
[16, 18, 24, 67, 101, 289]
Total number of the Child :: 1
Total number of the Adult :: 1
Total number of the Senior :: 2

In [58]:
str1 = "Happiness held is the seed; happiness shared is the flower"
str=str1.replace(";"," ").split()
print(str)
str2=str1.upper()
print(str2)
join1=" ".join(str)
print(join1)

['Happiness', 'held', 'is', 'the', 'seed', 'happiness', 'shared', 'is', 'the', 'flower']
HAPPINESS HELD IS THE SEED; HAPPINESS SHARED IS THE FLOWER
Happiness held is the seed happiness shared is the flower